.-pad-pro111-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.-pad-pro111-i-pad-pro111 {
  width: 100%;
  height: 4097px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.-pad-pro111-referencing {
  gap: 10px;
  top: 3662px;
  left: 129px;
  width: 577px;
  height: 296px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.-pad-pro111-text {
  color: rgba(69, 73, 85, 1);
  width: 540px;
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-pad-pro111-conclusion {
  gap: 10px;
  top: 3521px;
  left: 129px;
  width: 577px;
  height: 127px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(243, 239, 245, 1);
}
.-pad-pro111-text23 {
  color: rgba(69, 73, 85, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: justified;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-pad-pro111-part7 {
  gap: 10px;
  top: 3328px;
  left: 129px;
  width: 578px;
  height: 160px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.-pad-pro111-text25 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-pad-pro111-part71 {
  gap: 10px;
  top: 3072px;
  left: 203px;
  width: 430px;
  height: 224px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.-pad-pro111-pic71 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.-pad-pro111-part6 {
  gap: 10px;
  top: 2848px;
  left: 129px;
  width: 578px;
  height: 160px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.-pad-pro111-text30 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-pad-pro111-part61 {
  gap: 10px;
  top: 2656px;
  left: 203px;
  width: 430px;
  height: 160px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.-pad-pro111-pic61 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.-pad-pro111-part5 {
  gap: 10px;
  top: 2464px;
  left: 129px;
  width: 578px;
  height: 128px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.-pad-pro111-text35 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-pad-pro111-part51 {
  gap: 10px;
  top: 2240px;
  left: 203px;
  width: 430px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.-pad-pro111-pic51 {
  width: 429px;
  height: 192px;
}
.-pad-pro111-part4 {
  gap: 10px;
  top: 2048px;
  left: 129px;
  width: 576px;
  height: 127px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.-pad-pro111-text40 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-pad-pro111-text41 {
  font-weight: 500;
}
.-pad-pro111-part41 {
  gap: 10px;
  top: 1825px;
  left: 423px;
  width: 209px;
  height: 190px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.-pad-pro111-pic42 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.-pad-pro111-part42 {
  gap: 10px;
  top: 1824px;
  left: 202px;
  width: 209px;
  height: 191px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.-pad-pro111-pic41 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.-pad-pro111-part3 {
  gap: 10px;
  top: 1632px;
  left: 130px;
  width: 577px;
  height: 128px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.-pad-pro111-text49 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-pad-pro111-text50 {
  font-weight: 500;
}
.-pad-pro111-part31 {
  gap: 10px;
  top: 1408px;
  left: 423px;
  width: 210px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.-pad-pro111-pic32 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.-pad-pro111-part32 {
  gap: 10px;
  top: 1408px;
  left: 203px;
  width: 209px;
  height: 191px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.-pad-pro111-pic31 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.-pad-pro111-part2 {
  gap: 10px;
  top: 1216px;
  left: 128px;
  width: 578px;
  height: 128px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.-pad-pro111-text58 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-pad-pro111-text59 {
  font-weight: 500;
}
.-pad-pro111-part21 {
  gap: 10px;
  top: 960px;
  left: 426px;
  width: 207px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.-pad-pro111-pic21 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.-pad-pro111-part22 {
  gap: 10px;
  top: 960px;
  left: 202px;
  width: 207px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.-pad-pro111-pic22 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.-pad-pro111-part1 {
  gap: 10px;
  top: 736px;
  left: 129px;
  width: 578px;
  height: 128px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.-pad-pro111-text67 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-pad-pro111-text68 {
  font-weight: 500;
}
.-pad-pro111-part11 {
  gap: 10px;
  top: 480px;
  left: 202px;
  width: 430px;
  height: 224px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.-pad-pro111-pic1 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.-pad-pro111-intro {
  gap: 10px;
  top: 96px;
  left: 128px;
  width: 577px;
  height: 320px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(243, 239, 245, 1);
}
.-pad-pro111-pic {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.-pad-pro111-text76 {
  gap: 10px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(243, 239, 245, 1);
}
.-pad-pro111-text77 {
  color: rgba(13, 10, 11, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: justified;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.-pad-pro111-banner {
  gap: 10px;
  top: 0px;
  left: 127px;
  width: 578px;
  height: 64px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(13, 10, 11, 1);
}
.-pad-pro111-text82 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
