.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 3808px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-referencing {
  gap: 10px;
  top: 3552px;
  left: 128px;
  width: 1181px;
  height: 192px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-text {
  color: rgba(69, 73, 85, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: justified;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-conclusion {
  gap: 10px;
  top: 3360px;
  left: 128px;
  width: 1181px;
  height: 128px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(243, 239, 245, 1);
}
.desktop1-text23 {
  color: rgba(69, 73, 85, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: justified;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-part7 {
  gap: 10px;
  top: 3008px;
  left: 726px;
  width: 583px;
  height: 256px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.desktop1-text25 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: justified;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-part71 {
  gap: 10px;
  top: 3008px;
  left: 128px;
  width: 583px;
  height: 256px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-pic71 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-part6 {
  gap: 10px;
  top: 2688px;
  left: 726px;
  width: 583px;
  height: 224px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.desktop1-text30 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: justified;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-part61 {
  gap: 10px;
  top: 2688px;
  left: 128px;
  width: 583px;
  height: 224px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-pic61 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-part5 {
  gap: 10px;
  top: 2370px;
  left: 725px;
  width: 583px;
  height: 224px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.desktop1-text35 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: justified;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-part51 {
  gap: 10px;
  top: 2370px;
  left: 127px;
  width: 582px;
  height: 224px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-pic51 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-part4 {
  gap: 10px;
  top: 2049px;
  left: 726px;
  width: 583px;
  height: 223px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.desktop1-text40 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: justified;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text41 {
  font-weight: 500;
}
.desktop1-part41 {
  gap: 10px;
  top: 2050px;
  left: 427px;
  width: 283px;
  height: 222px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-pic42 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-part42 {
  gap: 10px;
  top: 2049px;
  left: 128px;
  width: 283px;
  height: 223px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-pic41 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-part3 {
  gap: 10px;
  top: 1760px;
  left: 726px;
  width: 583px;
  height: 192px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.desktop1-text49 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: justified;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text50 {
  font-weight: 500;
}
.desktop1-part31 {
  gap: 10px;
  top: 1760px;
  left: 425px;
  width: 285px;
  height: 193px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-pic32 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-part32 {
  gap: 10px;
  top: 1760px;
  left: 128px;
  width: 283px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-pic31 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-part2 {
  gap: 10px;
  top: 1440px;
  left: 727px;
  width: 582px;
  height: 224px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.desktop1-text58 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: justified;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text59 {
  font-weight: 500;
}
.desktop1-part21 {
  gap: 10px;
  top: 1440px;
  left: 127px;
  width: 284px;
  height: 224px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-pic21 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-part22 {
  gap: 10px;
  top: 1440px;
  left: 426px;
  width: 283px;
  height: 224px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-pic22 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-part1 {
  gap: 10px;
  top: 1024px;
  left: 726px;
  width: 583px;
  height: 320px;
  display: flex;
  padding: 10px 10px 172px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(69, 73, 85, 1);
}
.desktop1-text67 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: justified;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text68 {
  font-weight: 500;
}
.desktop1-part11 {
  gap: 10px;
  top: 1024px;
  left: 129px;
  width: 582px;
  height: 320px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-pic1 {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-intro {
  gap: 10px;
  top: 128px;
  left: 129px;
  width: 1180px;
  height: 768px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(243, 239, 245, 1);
}
.desktop1-pic {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.desktop1-text76 {
  gap: 10px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(243, 239, 245, 1);
}
.desktop1-text77 {
  color: rgba(13, 10, 11, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: justified;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-banner {
  gap: 10px;
  top: 0px;
  left: 128px;
  width: 1181px;
  height: 128px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(13, 10, 11, 1);
}
.desktop1-text82 {
  color: rgba(243, 239, 245, 1);
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
